<br><br><br>
<div class="kontejner">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header"><h5>Forgot your password?</h5><p></p></div>
          <div class="card-body">

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group row">
                <%= f.label :email %>
                <div class="col-md-6">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>
              </div>



            <div class="form-group row">
            <div class="offset-md-0">
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary sbmt" %>
            </div>
            </div>
            <% end %>
            

            
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<br>
<div class="actions col-md-6 offset-md-4">
<%= render "devise/shared/links" %>
</div>

