<div>
<div class="col-md-6 form-align">
        <div class="card">
            <div class="card-header"><h5>Objavi oglas</h5><p></p></div>
            <div class="card-body">
              <%= form_with(model: estate, local: true) do |form| %>
                <% if estate.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

                    <ul>
                      <% estate.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <div class="form-group row">
                  <%= form.label :posredovanje,class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                  <%= form.text_field :posredovanje, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :ime, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :ime, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :vrsta, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :vrsta, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :tip, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :tip, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :naslov, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :naslov, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :lokacija, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :lokacija, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group row">
                  <%= form.label :telefon, class: "col-md-4 col-form-label text-md-right" %>
                  <div class="col-md-6">
                    <%= form.text_field :telefon, class: "form-control" %>
                  </div>
                </div>

              <div class="form-group row">
              <%= form.label :velikost, class: "col-md-4 col-form-label text-md-right" %>
              <div class="col-md-6">
                <%= form.text_field :velikost, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
            <%= form.label :parcela, class: "col-md-4 col-form-label text-md-right" %>
            <div class="col-md-6">
              <%= form.text_field :parcela, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
          <%= form.label :cena, class: "col-md-4 col-form-label text-md-right" %>
          <div class="col-md-6">
            <%= form.text_field :cena, class: "form-control" %>
          </div>
        </div>

        <div class="form-group row">
        <%= form.label :opis1, class: "col-md-4 col-form-label text-md-right" %>
        <div class="col-md-6">
          <%= form.text_field :opis1, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
      <%= form.label :opis2, class: "col-md-4 col-form-label text-md-right" %>
      <div class="col-md-6">
        <%= form.text_field :opis2, class: "form-control" %>
      </div>
    </div>






                <div class="actions col-md-6 offset-md-4">
                  <%= form.submit "Objavi", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


