<p id="notice"><%= notice %></p>


<h1>Estates</h1>
  <table class="table table-hover miza">
    <thead>
      <tr>
          <th>Slika</th>
          <th>Ime</th>
          <th>Kraj</th>
          <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @estates.each do |estate| %>
        <tr>
          <td>
          "aaa"
          </td>
          <td><%= estate.ime %></td>
          <td><%= estate.kraj %></td>
          <td><%= estate.posredovanje %></td>
          <%= show_estate_buttons(estate) %>

        </tr>
      <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'New Estate', new_estate_path %>
