<p id="notice"><%= notice %></p>

<p>
  <strong>Opis1:</strong>
  <%= @estate.opis1 %>
</p>

<p>
  <strong>Opis2:</strong>
  <%= @estate.opis2 %>
</p>

<p>
  <strong>Naslov:</strong>
  <%= @estate.naslov %>
</p>

<p>
  <strong>Objava:</strong>
  <%= @estate.objava %>
</p>

<p>
  <strong>Posredovanje:</strong>
  <%= @estate.posredovanje %>
</p>

<p>
  <strong>Vrsta:</strong>
  <%= @estate.vrsta %>
</p>

<p>
  <strong>Lokacija:</strong>
  <%= @estate.lokacija %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @estate.telefon %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @estate.tip %>
</p>

<p>
  <strong>Velikost:</strong>
  <%= @estate.velikost %>
</p>

<p>
  <strong>Parcela:</strong>
  <%= @estate.parcela %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @estate.cena %>
</p>

<p>
  <strong>User:</strong>
  <%= @estate.user_id %>
</p>

<%= show_edit_button(@estate) %> |
<%= link_to 'Back', estates_path %>
