<!DOCTYPE html>
<html>
  <head>
    <title>NepremicnineRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= show_notice %>
    <%= show_alert %>

    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
